.vanta-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.vanta-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    color: white;
    backdrop-filter: blur(2px);
}

.vanta-blur {
    filter: blur(0px);
}
